*{
    margin: 30px;
    margin-bottom: 700px;
}
body{
    margin: 0;
    padding: 0;
    display:flex;
    background-color: black;
}
body{
    width: 90vw;
    height: 220vh;
    background-image: url(Artes/1massas.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width: 768px){
    *{
        margin: 5px;
        margin-bottom: 5px;
    }
    body{
        background-color: #fff;
        margin-top: 20px;
        height: 60vh;
        background-image: url(Artes/1massas.jpeg);
        background-repeat: no-repeat;
        display: flex;
    }
}