*{
    margin: 20px;
    margin-bottom: 100px;
}
body{
    margin: 0;
    padding: 0;
    display:flex;
}
body{
    width: 90vw;
    height: 315vh;
    background-color: black;
    background-image: url(Artes/CHOCOLATE.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px){
    *{
        margin: 5px;
    }
    body{
        margin-top: 20px;
        background-color: white;
        height: 60vh;
        background-image: url(Artes/CHOCOLATE.jpg);
        background-repeat: no-repeat;
        display: flex;
    }
}