*{
    margin: 20px;
    margin-bottom: -100px;
}
body{
    margin: 0;
    padding: 0;
    display:flex;
}
body{
    width: 90vw;
    height: 326vh;
    background-color: black;
    background-image: url(Artes/7parquinho.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width: 768px){
    *{
        margin: 5px;
    }
    body{
        margin-top: 20px;
        height: 40vh;
        background-color: white;
        background-image: url(Artes/7parquinho.jpeg);
        background-repeat: no-repeat;
        display: flex;
    }
}